[Unit]
Description=Inject cVM secrets from Vault
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vhsm-cvm-auth-enhanced.sh %i
EnvironmentFile=-/etc/vault.d/vault.env
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

